* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #2c2b2b00;
}
.keys {
  background-color: #ce282800;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem;
  font-size: 1rem;
  padding: 1rem.5rem;
  transition: all 0.07s;
  width: 100px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffc600;
}
